/* --- OVERALL STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom, #003049, #1a759f, #168aad);
    height: 100vh;
    color: white;
}

/* --- NAVBAR --- */
.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 40, 60, 0.5);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #d4f1f9;
}

/* --- MAIN CONTENT --- */
.container {
    text-align: center;
    margin-top: 150px;
}

.title {
    font-size: 3rem;
    margin-bottom: 50px;
}

/* --- BIG BUTTONS --- */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.big-btn {
    width: 300px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background: #184e77;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.big-btn:hover {
    background: #1e6091;
    transform: scale(1.05);
}
